.card{
    border: 1px solid salmon;
    display: block;
    height: 340px;
    padding: 10px;
    width: 150px;
  }
  
  .card--header{
    padding: 10px;
    font-size: 20px;
  }
  
  .card--body{
    font-size: 18px;
    color: black;
  }
  
  .card--footer{
    color: gray;
    text-align: center;
  }
  